#menu{
    display: none;
}

.header-inner-logo{
    min-height: 70px;
    display: flex;
    align-items: center;
    img{
        width: 100px;
        height: auto;
    }
}
.header-inner-menu{
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
    line-height: 25px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 17px;
    a{
        color: black;

    }
}

#menu:checked ~ .header-inner-menu{
    height: 150px;
}

.lab{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 26px;
}
.header-icon{
    background: url(../img/header.png);
}
.header-icon-block-photo{
    img{
        width: 304px;
    }
}
.header-icon-block-info{
    font-family: 'Montserrat', sans-serif;
    h1{
        font-size: 27px;
        color: #fff;
        margin: 30px 0;
    }
    p{
        font-size: 18px;
        line-height: 30px;
        margin: 30px 0;
        color: #fff;
    }
    a{
        color: #fff;
        padding: 12px 30px;
        display: inline-block;
        border: 1px solid #fff;
        text-decoration: none;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 14px;
    }
}

@media only screen and(min-width: 1024px){
    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo{
            img{
                width: 175px;
                height: 53px;
            }
        }
        label{
            display: none;
        }
        &-menu{
            display: flex;
            height: 25px;
            list-style: none;
            gap: 25px;

            li{
                position: relative;
            }

            li:nth-child(n+2)::before{
                content: "";
                width: 2px;
                height: 15px;
                background: #000;
                position: absolute;
                top:5px;
                left: -14px;
            }
        }
    }






    .header-icon-block{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        &-photo{
            img{
                width: 513px;
                margin-top: 30px;
            }

        }
        &-info{
            margin: 250px 0 285px 0;
            h1{
                font-size: 50px;

            }
            p{
                text-align: justify;
                font-size: 25px;
                letter-spacing: 0.25px;
            }
        }
    }   
}
